body {
    background-color: $body-background;

    h2 {
        color: $word-color-5;
    }

    header {
        color: $word-color-3;

        button {
            background-color: $switcher-background;
        }

        button:hover {
            background-color: $switcher-background-hover;
        }

        button:before {
            background-color: $switcher;
        }
    }

    main.container {
        .card {
            .card-body {
                h5 {
                    color: $word-color-4;
                }

                p {
                    color: $word-color-5;
                }
            }

            ul {
                li {
                    background-color: transparent;
                    color: $word-color-4;
                }
            }

            .card-footer {
                background-color: transparent;
                
                button {
                    background-image: $button-background;
                    border-color: transparent;
                    color: $word-color-1;
                }

                button:hover {
                    background-color: transparent;
                    background-image: none;
                    border-color: $button-border;
                    color: $word-color-2;
                }
            }
        }

        .card.professional {
            background-image: $professional-card-background;

            h5, p, li {
                color: $word-color-1;
            }

            ul {
                border-color: $professional-card-borders;

                li {
                    border-color: $professional-card-borders;
                }
            }

            .card-footer {
                button {
                    background-color: $professional-card-button;
                    color: $word-color-2;
                }

                button:hover {
                    background-color: transparent;
                    border-color: $professional-card-button-border;
                    color: $word-color-1;
                }
            }
        }
    }
}