// Colors
$body-background: rgb(247, 247, 255);
$button-background: linear-gradient(left, rgb(163, 168, 240), rgb(105, 111, 221));
$button-border: rgb(105, 111, 221);
$professional-card-background: linear-gradient(135deg, rgb(163, 168, 240), rgb(105, 111, 221));
$professional-card-borders: rgb(255, 255, 255);
$professional-card-button: rgb(255, 255, 255);
$professional-card-button-border: rgb(255, 255, 255);
$switcher: rgb(246, 246, 254);
$switcher-background: rgb(105, 111, 221);
$switcher-background-hover: rgb(163, 168, 240);
$word-color-1: rgb(246, 246, 254);
$word-color-2: rgb(105, 111, 221);
$word-color-3: rgb(179, 181, 198);
$word-color-4: rgb(109, 112, 141);
$word-color-5: rgb(73, 76, 95);